apiVersion: v1
kind: Service
metadata:
  name: ollama-server
  namespace: dsm
spec:
  selector:
    app: ollama-server
  ports:
    - protocol: TCP
      port: 11434
      targetPort: 11434
  type: ClusterIP
